<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Тестовое задание</a>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a (click)="temperatureClick()"
                           [ngClass]="{active: current === 'temperature'}"
                           class="nav-link active" href="#">
                            <span data-feather="home"></span>
                            Температура
                        </a>
                    </li>
                    <li class="nav-item">
                        <a (click)="precipitationClick()"
                           [ngClass]="{active: current === 'precipitation'}"
                           class="nav-link" href="#">
                            <span data-feather="file"></span>
                            Осадки
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 *ngIf="!loading && current === 'temperature'" class="h2">Температура </h1>
                <h1 *ngIf="!loading && current === 'precipitation'" class="h2">Осадки</h1>
                <h1 *ngIf="loading" class="h2">Загрузка...</h1>
            </div>

            <form class="form-inline">
                <div class="form-group mb-2">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">C</label>
                        </div>
                        <select [(ngModel)]="startYear"
                                [ngModelOptions]="{standalone: true}"
                                (change)="selectChange($event)"
                                class="custom-select">
                            <option *ngFor="let year of years" [value]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-2 ml-1">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">По</label>
                        </div>
                        <select [(ngModel)]="endYear"
                                [ngModelOptions]="{standalone: true}"
                                (change)="selectChange($event)"
                                class="custom-select">
                            <option *ngFor="let year of years" [value]="year">{{year}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group mb-2 ml-1">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text">Тип</label>
                        </div>
                        <select [(ngModel)]="groupType"
                                [ngModelOptions]="{standalone: true}"
                                (change)="selectChange($event)"
                                class="custom-select">
                            <option *ngFor="let type of groupTypes" [value]="type.value">{{type.display}}</option>
                        </select>
                    </div>
                </div>
            </form>

            <div>
                <canvas width="400" height="200" #chart></canvas>
            </div>

        </main>
    </div>
</div>
